label {
  display: inline-block;
  width: 180px;
  margin: 10px 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: gray;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  color: white;
  transition-duration: 0.6s;
  
}
button:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.divofdetail * {
  color: black;
}
.divofdetail{
  text-align: center;
}
.stringcls{
  margin:30px;
}
.recover{
  margin: 20px;
}