/* HeroesComponent's private CSS styles */
.people {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  text-align: start;
}
.people li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #867575;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  transition-duration: 0.6s;
}
.people li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.people li.selected {
  background-color: #CFD8DC;
  color: white;
}
.people li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.people .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.div_cls_people_comp{
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
}
.goBackbuttonclass{
  text-align:center;
  background-color: gray;
  font-size: 16px;
  padding: 11px 85px;
  border-radius: 4px;
  border:2px solid black;
  transition-duration: 0.4s;  
  display: flex;
  justify-content: center;
}
.goBackbuttonclass:hover{
  color: #039be5;
  background-color: #cfd8dc;
}
.clsOfbtn{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.mypeoplecls{
    display: flex;
    justify-content: center;
}